[General]
#in       = /home/msestak/prepare_blast/out/dr_plus/
out      =  t/data/
#infile   = /home/msestak/mysql-5.6.27-linux-glibc2.5-x86_64.tar.gz
#outfile  = /home/msestak/prepare_blast/out/dr_04_02_2016.xlsx

[Database]
host     = localhost
database = test
#user     = default
#password = ''
port     = 8123

