[General]
#in       = /home/msestak/prepare_blast/out/dr_plus/
out      =  t/data/
#infile   = /home/msestak/mysql-5.6.27-linux-glibc2.5-x86_64.tar.gz
#outfile  = /home/msestak/prepare_blast/out/dr_04_02_2016.xlsx

[Database]
host     = localhost
database = test
#user     = default
#password = ''
port     = 8123


[PS]
1   =  1
2   =  2
3   =  2
4   =  2
5   =  3
6   =  4
7   =  4
8   =  4
9   =  5
10  =  6
11  =  6
12  =  7
13  =  8
14  =  9
15  =  10
16  =  11
17  =  11
18  =  11
19  =  12
20  =  12
21  =  12
22  =  13
23  =  14
24  =  15
25  =  15
26  =  16
27  =  17
28  =  18
29  =  18
30  =  19
31  =  19
32  =  19
33  =  19
34  =  19
35  =  19
36  =  19
37  =  19
38  =  19
39  =  19

[TI]
131567   =  131567
2759     =  2759
1708629  =  2759
1708631  =  2759
33154    =  33154
1708671  =  1708671
1708672  =  1708671
1708673  =  1708671
33208    =  33208
6072     =  6072
1708696  =  6072
33213    =  33213
33511    =  33511
7711     =  7711
1708690  =  1708690
7742     =  7742
7776     =  7742
117570   =  7742
117571   =  117571
8287     =  117571
1338369  =  117571
32523    =  32523
32524    =  32524
40674    =  40674
32525    =  40674
9347     =  9347
1437010  =  1437010
314146   =  314146
1708730  =  314146
9443     =  9443
376913   =  9443
314293   =  9443
9526     =  9443
314295   =  9443
9604     =  9443
207598   =  9443
1708693  =  9443
9605     =  9443
9606     =  9443

[PSNAME]
cellular_organisms  =  cellular_organisms
Eukaryota  =  Eukaryota
Unikonta  =  Eukaryota
Apusozoa/Opisthokonta  =  Eukaryota
Opisthokonta  =  Opisthokonta
Holozoa  =  Holozoa
Filozoa  =  Holozoa
Metazoa/Choanoflagellida  =  Holozoa
Metazoa  =  Metazoa
Eumetazoa  =  Eumetazoa
Cnidaria/Bilateria  =  Eumetazoa
Bilateria  =  Bilateria
Deuterostomia  =  Deuterostomia
Chordata  =  Chordata
Olfactores  =  Olfactores
Vertebrata  =  Vertebrata
Gnathostomata  =  Vertebrata
Teleostomi  =  Vertebrata
Euteleostomi  =  Euteleostomi
Sarcopterygii  =  Euteleostomi
Dipnotetrapodomorpha  =  Euteleostomi
Tetrapoda  =  Tetrapoda
Amniota  =  Amniota
Mammalia  =  Mammalia
Theria  =  Mammalia
Eutheria  =  Eutheria
Boreoeutheria  =  Boreoeutheria
Euarchontoglires  =  Euarchontoglires
Scandentia/Primates  =  Euarchontoglires
Primates  =  Primates
Haplorrhini  =  Primates
Simiiformes  =  Primates
Catarrhini  =  Primates
Hominoidea  =  Primates
Hominidae  =  Primates
Homininae  =  Primates
Hominini  =  Primates
Homo  =  Primates
Homo_sapiens  =  Primates

