[General]
#in       = /home/msestak/prepare_blast/out/dr_plus/
out      =  t/data/
#infile   = /home/msestak/mysql-5.6.27-linux-glibc2.5-x86_64.tar.gz
#outfile  = /home/msestak/prepare_blast/out/dr_04_02_2016.xlsx

[Database]
host     = localhost
database = test
#user     = default
#password = ''
port     = 8123

[Tables]
names             = names_dmp_fmt_new
blastout          = hs_all_plus_21_12_2015
blastout_analysis = hs_all_plus_21_12_2015_analysis
map               = hs3_map
analyze_ps        = analyze_hs_9606_cdhit_large_extracted_stats_ps
analyze_genomes   = analyze_hs_9606_cdhit_large_extracted_stats_genomes
report_per_ps     = hs_all_plus_21_12_2015_good_report_per_ps


[PS]
1   =  1
2   =  2
3   =  2
4   =  2
5   =  3
6   =  3
7   =  3
8   =  3
9   =  4
10  =  5
11  =  5
12  =  6
13  =  7
14  =  7
15  =  7
16  =  8
17  =  8
18  =  9
19  =  9
20  =  10
21  =  10
22  =  10
23  =  10
24  =  10
25  =  10
26  =  10
27  =  10
28  =  11
29  =  11
30  =  11
31  =  11
32  =  11
33  =  11
34  =  11
35  =  11
36  =  11
37  =  11
38  =  11
39  =  11
40  =  11
41  =  12
42  =  12
43  =  12
44  =  12
45  =  12
46  =  12
47  =  12

[TI]
131567   =  131567
2759     =  2759
1708629  =  2759
1708631  =  2759
33154    =  33154
1708671  =  33154
1708672  =  33154
1708673  =  33154
33208    =  33208
6072     =  6072
1708696  =  6072
33213    =  33213
33317    =  33317
1206794  =  33317
88770    =  33317
6656     =  6656
197563   =  6656
197562   =  197562
6960     =  197562
50557    =  50557
85512    =  50557
7496     =  50557
33340    =  50557
1708734  =  50557
33392    =  50557
1708735  =  50557
1708736  =  50557
7147     =  7147
7203     =  7147
43733    =  7147
480118   =  7147
480117   =  7147
43738    =  7147
43741    =  7147
43746    =  7147
7214     =  7147
43845    =  7147
46877    =  7147
46879    =  7147
186285   =  7147
7215     =  7215
32341    =  7215
1708740  =  7215
32346    =  7215
32351    =  7215
1708742  =  7215
7227     =  7215

[PSNAME]
cellular_organisms  =  cellular_organisms
Eukaryota           =  Eukaryota
Unikonta            =  Eukaryota
Apusozoa/Opisthokonta  =  Eukaryota
Opisthokonta        =  Opisthokonta
Holozoa             =  Opisthokonta
Filozoa             =  Opisthokonta
Metazoa/Choanoflagellida  =  Opisthokonta
Metazoa             =  Metazoa
Eumetazoa           =  Eumetazoa
Cnidaria/Bilateria  =  Eumetazoa
Bilateria           =  Bilateria
Protostomia         =  Protostomia
Ecdysozoa           =  Protostomia
Panarthropoda       =  Protostomia
Arthropoda          =  Arthropoda
Mandibulata         =  Arthropoda
Pancrustacea        =  Pancrustacea
Hexapoda            =  Pancrustacea
Insecta             =  Insecta
Dicondylia          =  Insecta
Pterygota           =  Insecta
Neoptera            =  Insecta
Phthiraptera/Endopterygota  =  Insecta
Endopterygota       =  Insecta
Coleoptera/Amphiesmenoptera/Diptera  =  Insecta
Amphiesmenoptera/Diptera  =  Insecta
Diptera             =  Diptera
Brachycera          =  Diptera
Muscomorpha         =  Diptera
Eremoneura          =  Diptera
Cyclorrhapha        =  Diptera
Schizophora         =  Diptera
Acalyptratae        =  Diptera
Ephydroidea         =  Diptera
Drosophilidae       =  Diptera
Drosophilinae       =  Diptera
Drosophilini        =  Diptera
Drosophilina        =  Diptera
Drosophiliti        =  Diptera
Drosophila          =  Drosophila
Sophophora          =  Drosophila
melanogaster_group/obscura_group  =  Drosophila
melanogaster_group  =  Drosophila
melanogaster_subgroup  =  Drosophila
melanogaster/simulans/sechellia  =  Drosophila
Drosophila_melanogaster  =  Drosophila

